doctype html
html(lang='en', ng-app="cryptApp")
	head
		meta(charset="utf-8")
		title Craaazy Animals

	body
		block content

		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-resource.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-route.js")
		script(src="main.js")
		